.export-section {
    position: fixed;
    /* Fixa a box no final da tela */
    top: 10px;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    /* Sombra leve */
    display: flex;
    justify-content: flex-end;
    /* Alinha o ícone à direita */
    box-sizing: border-box;

}

.export-icon {
    font-size: 24px;
    /* Tamanho do ícone */
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.export-icon:hover {
    color: #007bff;
    /* Cor azul ao passar o mouse */
}

/* Botão de Importar */
.import-btn {
    background-color: #007acc;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover no Botão de Importar */
.import-btn:hover {
    background-color: #005f99;
    transform: scale(1.05);
}

/* Foco no Botão de Importar */
.import-btn:focus {
    outline: 2px solid #007acc;
}