/* Layout Principal */
.layout {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Conteúdo Principal */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 200px;
    margin-right: 10px;
    overflow: hidden;
    /* Impede a rolagem global */
}


.content .page h1 {
    margin-left: 2px;
}

body {
    font-family: 'Inter';
}

.__Inter_aaf875 {
    font-family: 'Inter';
    font-weight: 600;
    /* Ajuste o peso conforme necessário */
}