/* Container da tabela */
.table-container {
    flex-direction: column;
    width: 190vh;
    height: 84%;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    border: 1px solid #444444;
    box-sizing: border-box;
}

/* Estilos da tabela dentro do container */
.table-container table {
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 1.5;
    border-collapse: collapse;
    border: 1px solid #444444;
}

/* Estilos para cabeçalhos e células da tabela */
.table-container th,
.table-container td {
    padding: 8px;
    text-align: left;
    border: 1px solid #444444;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    white-space: nowrap;
}

/* Estilos para cabeçalhos da tabela */
.table-container th {
    background-color: #333333;
    color: #ffffff;
}

/* Estilos para linhas da tabela */
.table-container tr {
    background-color: #ffffff;
}

/* Estilos para linhas da tabela no tema escuro */
body.dark .table-container tr {
    background-color: #2a2d2e;
}

/* Estilos para o container da tabela no tema escuro */
body.dark .table-container {
    background-color: #2a2d2e;
    color: white;
}

/* Estilos para cabeçalhos e células da tabela no tema escuro */
body.dark .table-container th,
body.dark .table-container td {
    color: white;
    border-color: #444444;
}

/* Estilos para cabeçalhos da tabela no tema escuro */
body.dark .table-container th {
    background-color: #333333;
}

/* Estilos para o container da tabela no tema claro */
body.light .table-container {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #cccccc;
}

/* Estilos para cabeçalhos e células da tabela no tema claro */
body.light .table-container th,
body.light .table-container td {
    /* Borda clara para as células */
    border-color: #cccccc;
    /* Cabeçalho preto */
    color: #333;
}

/* Estilos para cabeçalhos da tabela no tema claro */
body.light .table-container th {
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
}

/* Estilos para linhas da tabela no tema escuro ao passar o mouse */
body.dark .table-container tr:hover {
    background-color: #3c3c3c;
    color: white;
}

/* Estilos para linhas da tabela no tema claro ao passar o mouse */
body.light .table-container tr:hover {
    background-color: #e6e6e6;
    color: #000;
}

/* Estilo do form-container */
.form-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #444444;
    box-sizing: border-box;
}

/* Tema escuro: fundo escuro e bordas escuras */
body.dark .form-container {
    background-color: #2a2d2e;
    color: white;
    border-color: #444444;
}

/* Tema claro: fundo branco e bordas claras */
body.light .form-container {
    background-color: #ffffff;
    color: #333;
    border-color: #cccccc;
}

/* Seção de exportação */
.export-section {
    display: flex;
    justify-content: flex-end;

}

/* Container da tabela */
.table-container {
    width: 100%;
    height: calc(100vh - 260px);
    /* O container ocupa até o final da tela */
    overflow: auto;
    /* Rolagem interna, se necessário */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #444444;
}

/* Estilo da tabela */
.table-container table {
    width: 100%;
    /* A tabela ocupa toda a largura do container */
    border-collapse: collapse;
    table-layout: auto;
    height: auto;
    /* Garante que a tabela tenha altura automática */
}

/* Estilo das células */
.table-container th,
.table-container td {
    padding: 8px;
    text-align: left;
    border: 1px solid #444444;
    white-space: nowrap;
    /* Impede quebra de linha */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    height: auto;
    /* Altura automática das células */
}