/* Tabelas */

.table-container {
    flex-direction: column;
    /* Ocupa toda a largura */
    width: 190vh;
    /* Altura ajustável conforme o conteúdo */
    height: 84%;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    border: 1px solid #444444;
    box-sizing: border-box;
}

/* Tabela */

.table-container table {
    width: 100%;
    /* Sempre ocupa toda a largura */
    height: 100%;
    /* Altura máxima do conteúdo */
    font-size: 12px;
    line-height: 1.5;
    border-collapse: collapse;
    border: 1px solid #444444;
    /* Mantém as colunas com largura fixa */
}

/* Cabeçalhos e Células */

.table-container th,
.table-container td {
    padding: 8px;
    text-align: left;
    border: 1px solid #444444;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    white-space: nowrap;
    /* Mantém o texto em linha única */
}

/* Cabeçalhos */

.table-container th {
    background-color: #333333;
    color: #ffffff;
}

/* Linhas */

.table-container tr {
    background-color: #ffffff;
}

body.dark .table-container tr {
    background-color: #2a2d2e;
    /* Para o tema escuro */
}

/* Tema escuro: fundo escuro no container */
body.dark .table-container {
    background-color: #2a2d2e;
    color: white;
}

body.dark .table-container th,
body.dark .table-container td {
    color: white;
    border-color: #444444;
}

body.dark .table-container th {
    background-color: #333333;
}

/* Tema claro: fundo branco no container */
body.light .table-container {
    background-color: #ffffff;
    color: #333;
}

body.light .table-container th,
body.light .table-container td {
    color: #333;
    border-color: #cccccc;
}

body.light .table-container th {
    background-color: #f0f0f0;
}

/* Tema escuro: hover com fundo escuro */
body.dark .table-container tr:hover {
    background-color: #3c3c3c;
    color: white;
}

/* Tema claro: hover com fundo cinza claro */
body.light .table-container tr:hover {
    background-color: #e6e6e6;
    color: #000;
}